:root {
  /* Font Stuff  */
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* Loading Stuff */
  --primary-loading-bg: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.loading-screen-bg {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  background: var(--primary-loading-bg);
  display: flex;
  justify-content: center;
  z-index: 100;
}

.loading-screen-bg section {
  width: 100%;
  height: calc(100% - 10%);
  padding-top: 8%;
  text-align: center;
}
