:root {
  /* Font Stuff  */
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --primary-font-black: #545454;
  --primary-color: #175997;
  --primary-white: white;

  --base-size: 1em;
  --type-scale: 1;
  --header-increase: 1.3;
  --type-decrease: 0.9;

  --small-font: calc(
    var(--base-size) * var(--type-scale) * var(--type-decrease)
  );

  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale) * var(--header-increase));

  --primary-font-error: rgba(172, 0, 0, 1);

  /* Loading Stuff */
  --primary-loading-bg: rgba(255, 255, 255, 0.8);

  /* Page Width Stuff */
  --max-page-width: 1000px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: var(--h1);
  font-weight: normal;
}

h2 {
  font-size: var(--h2);
  font-weight: normal;
}

h3 {
  font-size: var(--h3);
  font-weight: normal;
}

h4 {
  font-size: var(--h4);
  font-weight: normal;
}

h5 {
  font-size: var(--h5);
  font-weight: normal;
}

p {
  font-size: var(--base-size);
}

main {
  /* padding: 16px 0px; */
}

.loading-screen-bg {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  background: var(--primary-loading-bg);
  display: flex;
  justify-content: center;
  z-index: 100;
}

.loading-screen-bg section {
  width: 100%;
  height: calc(100% - 10%);
  padding-top: 8%;
  text-align: center;
}

.about-section-container {
  display: grid;
  grid-template-areas:
    "image"
    "about";

  padding: 0px;
  padding-bottom: 16px;
  justify-content: center;

  background-color: #333333c0;
  color: var(--primary-white);
}

img {
  max-width: 100%;
  width: 100%;
}

.about-section-container section:first-child {
  grid-area: about;
  text-align: center;
  max-width: calc(var(--max-page-width) / 2);
  width: 100%;
}
.about-section-container section:first-child h1,
.about-section-container section:first-child h2 {
  margin: 4px 0px;
}
.about-section-container section:first-child p {
  text-align: left;
  padding: 4px 8px;
  margin-top: 8px;
}

.about-section-container section:last-child {
  grid-area: image;
  max-width: calc(var(--max-page-width) / 2);
  width: 100%;
}

.experience-section-container {
  padding: 4px 8px;
  max-width: var(--max-page-width);
  margin: 0px auto;
}

.experience-section {
  display: grid;
  grid-template-areas:
    "image image"
    "orgName orgName"
    "title title"
    "date location"
    "bullets bullets";
  padding: 16px;
}

.experience-section img {
  grid-area: image;
  margin: 4px auto;
  text-align: center;
  max-width: 275px;
}
.experience-section h2 {
  grid-area: orgName;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: bold;
}
.experience-section h3 {
  grid-area: title;
  margin-bottom: 4px;
  font-style: italic;
}
.experience-section .experience-date {
  grid-area: date;
  margin-bottom: 8px;
  font-size: var(--small-font);
}

.experience-section .experience-location {
  grid-area: location;
  font-size: var(--small-font);
  text-align: right;
}

.experience-section ul {
  grid-area: bullets;
  margin-left: 20px;
  font-size: var(--h4);
}

.skills-section-container,
.achievement-section-container {
  max-width: var(--max-page-width);
  margin: 0px auto;
  padding: 16px 8px;
}

.achievement-section-container ul {
  margin-left: 24px;
  font-size: var(--h4);
}

.skills-section-container ul {
  font-size: var(--h4);
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-bullet {
  border-radius: 50px;
  padding: 4px 5px;
  margin: 4px;

  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--primary-white);
}

.skill-bullet span:first-child {
  padding: 4px 8px;
  border: 1px solid var(--primary-white);
  border-radius: 50px;
}

@media screen and (min-width: 750px) {
  :root {
    --type-scale: 1.1;
  }

  .about-section-container {
    grid-template-areas: "about image";
    align-items: center;
    text-align: left;
    margin: 0 auto;
    padding: 0px;
  }

  /* .about-section-container section:last-child, */
  .about-section-container section:first-child {
    padding: 0px 16px;
    text-align: left;
  }

  .about-section-container section:first-child h1,
  .about-section-container section:first-child h2 {
    margin: 8px 0px;
  }

  .about-section-container section:first-child p {
    margin-top: 16px;
    padding: 4px 0px;
  }

  .skills-section-container,
  .achievement-section-container {
    padding: 16px;
  }

  .experience-section {
    grid-template-areas:
      "image orgName date"
      "image title location"
      "image bullets  bullets";

    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: flex-end;
  }

  .experience-section img {
    margin-top: 8px;
    align-self: flex-start;
  }

  .experience-section h2 {
    margin: 0px;
  }

  .experience-section .experience-date,
  .experience-section .experience-location {
    margin-bottom: 0px;
    text-align: right;
    font-size: var(--h4);
  }

  .experience-section .experience-location {
    align-self: flex-start;
    margin-top: 4px;
  }

  .experience-section ul {
    margin-top: 8px;
  }

  .skills-section-container ul {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --type-scale: 1.2;
  }
}
